.nav-link {
     opacity:0.7;
}   
.nav-link:hover{
    opacity: 1;
    background-color: #eee !important;
}
header{
  /*Sizing of the element*/
 height: 500px;
 width: 65%;
 /*Set and adjust background image*/
 background-image: url("yinyang.jpg");
 background-size: cover;
color:green;

/*center the text*/
text-align: center;
font-family: 'Questrial', sans-serif;
}
header p {
    /* Add the front-style property here*/
}
.services i {
    height: 80px;
    width: 80px;
    color: white;
    background-color: green;
    padding: 25px 20px;
    font-size: 30px;
    border-radius: 50%;
    text-align: center;

}

.team h1 {
    text-align: center;
    font-weight:bold;
    background-color: black;
    color: white;
    font-family: cursive
}